<link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.bundle.min.js"></script>

<div class="container">
    <h1 class="text-center mt-5 mb-4">Our Products</h1>
    <p class="text-center mb-4">
      Buy shoes effortlessly with our streamlined process. Explore our diverse collection,
       select your perfect pair, and complete your purchase with ease. Whether online or in-store,
        shopping for shoes has never been simpler.
    </p>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src=images\s1.jpg class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Bata Comfort Flex Sneakers</h5>
            <ul>
              <li>Lightweight design for all-day comfort
                <li>Breathable mesh upper for enhanced ventilation
                <li>Flexible sole for natural foot movement</li>
            </ul>
            <a href="#" class="btn btn-primary btn-block">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src=images\s2.jpg class="card-img-top" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Bata Urban Chic Loafers</h5>
            <ul>
              <li>Stylish suede finish for a sophisticated look
                <li>Cushioned insole for long-lasting comfort
               <li> Slip-on design for easy wearability</li>
            </ul>
            <a href="#" class="btn btn-primary btn-block">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src=images\s3.jpg class="card-img-top" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Bata Classic Leather</h5>
            <ul>
              <li>Premium leather construction for durability
                <li>Soft textile lining for added warmth
                <li>Sturdy heel for reliable support and traction</li>
            </ul>
            <a href="#" class="btn btn-primary btn-block">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card">
          <img src=images\s4.jpg class="card-img-top" alt="Product 4">
          <div class="card-body">
            <h5 class="card-title">Bata Active Sports Sandals</h5>
            <ul>
              <li>Durable rubber outsole for traction and stability
                <li>Adjustable straps for a customized fit
                <li>Shock-absorbing midsole for impact protection</li>
            </ul>
            <a href="#" class="btn btn-primary btn-block">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>